@font-face {
    font-family: "titulos";
    src: url("/src/assets/fonts/Courgette/Courgette-Regular.ttf");

  } 

  body {
    font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  }


p{
    font-family: "titulos";
}
span{
    font-family: "titulos";
}

cite {
    font-family: "titulos";
}
