<section class="main">
    <div class="container mt-4">
        <h1 class="text-center mb-4 p-1 text-secondary">Ciudades</h1>
        <div class="row">

            <!-- <div class="card-columns"> -->
            <div class="col-12 col-md-4 pt-2">
                <div class="card shadow border-0">
                    <img class="card-img-top" src="../assets/imagen/ciudad1.jpg " alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tegucigalpa</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto
                            fugiat illum
                            consequuntur sed optio..</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 pt-2">
                <div class="card shadow border-0">
                    <img class="card-img-top" src="../assets/imagen/ciudad4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Santa Lucia</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto
                            fugiat illum
                            consequuntur sed optio..</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 pt-2 ">
                <div class="card shadow border-0">
                    <img class="card-img-top" src="../assets/imagen/ciudad2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">San Pedro sula</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi architecto
                            fugiat illum
                            consequuntur sed optio..</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>