<section class="py-5 text-center">
    <div class="container">
        <h2 class="text-center">Forma parte de nuestra ¡historia!</h2>
        <p class="text-muted mb-5 text-center">Como Repartidor, puede ser su propio jefe y disfrutar de la flexibilidad
            de
            elegir cuándo, dónde y cuánto gana. Todo lo que necesita es un medio de transporte y un teléfono inteligente
            para comenzar a ganar dinero. Es así de simple...</p>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <fa-icon class="lnr text-primary services-icon" [icon]="faMotorcycle"></fa-icon>
                <h6>Como Repartidor
                    Gana dinero extra para tus objetivos</h6>
                <p class="text-muted">Logre sus metas a corto plazo o sus sueños a largo plazo conduciendo o montando
                    bicicleta con Somo-PÁ.!.</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                    <fa-icon class="lnr text-primary services-icon" [icon]="faUserClock"></fa-icon>
                <h6>Elige tu propio horario</h6>
                <p class="text-muted">A diferencia de los trabajos de tiempo completo o los trabajos de temporada,
                    cuándo y
                    dónde trabajar depende totalmente de usted!</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <fa-icon class="lnr text-primary services-icon" [icon]="faRoad"></fa-icon>
                <h6>Libertad para correr a cualquier parte</h6>
                <p class="text-muted">Entregue cerca de su casa o en una ciudad que acaba de visitar.!</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <fa-icon class="lnr text-primary services-icon" [icon]="faBoxOpen"></fa-icon>
                <h6>Reciba las entregas de inmediato</h6>
                <p class="text-muted">Una vez aprobado, inicie sesión en la aplicación Somo-PÁ para recibir pedidos
                    cercanos
                    de inmediato.!</p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <fa-icon class="lnr text-primary services-icon" [icon]="faMobileAlt"></fa-icon>
                <h6>Descarga nuestra App</h6>
                <p class="text-muted">
                    Todo desde la applicación, más fácil, más sencillo.
                </p>
            </div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <fa-icon class="lnr text-primary services-icon" [icon]="faClipboardCheck"></fa-icon>
                <h6>Tu eliges</h6>
                <p class="text-muted">Elabora rutas, indicando que ordenes llevas.</p>
            </div>
        </div>
    </div>
</section>
