<!-- <div class="carrousel-style">
    <ngb-carousel *ngIf="carrousel">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="img-carrousel" [src]="carrousel[0]" alt="Random first slide">
            </div>
            <div class="carousel-caption text-carrousel">
                <h3>Bienvenido Amigo a Somo-PÁ!</h3>
                <p>Te inivitamos a dar un vistazo para que formes parte de nuestra familia.</p>
                <button class="btn-primary">Registrarse</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="img-carrousel" [src]="carrousel[1]" alt="Random second slide">
            </div>
            <div class="carousel-caption text-carrousel">
                <h3>Bienvenido Amigo a Somo-PÁ!</h3>
                <p>Te inivitamos a dar un vistazo para que formes parte de nuestra familia.</p>
                <button class="btn-primary">Registrarse</button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="img-carrousel" [src]="carrousel[2]" alt="Random third slide">
            </div>
            <div class="carousel-caption text-carrousel">
                <h3>Bienvenido Amigo a Somo-PÁ!</h3>
                <p>Te inivitamos a dar un vistazo para que formes parte de nuestra familia.</p>
                <button class="btn-primary">Registrarse</button>
            </div>
        </ng-template>
    </ngb-carousel>
    
</div> -->

   <!--? Masthead-->
   <header class="masthead">
    <div class="container">
        <!-- <img class=" " style="width: 100%;" [src]="carrousel[1]"  > -->
        <div class="masthead-subheading">Bienvenido a Somo-PÁ!</div>
        <div class="masthead-heading ">Te invitamos a dar un vistazo para que formes parte de nuestra familia.</div>
        <a class="btn btn-dark btn-xl text-white" routerLink="/signin">Registrate</a>
    </div>
</header>
  <!--? Fin Masthead-->