<h3 class="text-center"> Tomar Ordenes Disponibles</h3>
<div class="profile-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-sm-4 pt-2" *ngFor="let order of Orden">
        <div class="card">
            <div *ngFor="let orden of order.cart">
                <img src="{{orden.imagenProducto}}" class="card-img-top" alt="...">
                <h6 class="card-title">{{orden.nombreProducto}} | {{orden.cantidad}} | ${{orden.precio}}</h6>
            </div>

          <div class="card-body">
            <h5 class="card-title">Direccion: {{order.direccion}}</h5>
            <p class="card-text">{{order.email}}</p>
            <span class="card-text">{{order.user}}</span>
          </div>
        </div>
        <div class="card-footer">
            <p>Estado: <b>Disponible</b></p>
            <a class="btn btn-outline-primary" (click)="abrirTomarOrdenModalModal(openTomarOrdenModal)">Ver Orden</a>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- Todo Modal Nuevo Instructor -->
<ng-template #openTomarOrdenModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalle de Orden</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cerro con la X')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <div class="row">
        <div class="col-12">
            <h1>Orden a Tomar</h1>
        </div>
      </div>
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close('Boton Cerrar')">Cerrar</button>
      <button type="button" class="btn btn-outline-success" (click)="tomarOrden()">Tomar Orden</button>
    </div>
  </ng-template>
  